<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>

<% if current_user.admin? and @article.id %>
    <h3>Merge Articles</h3>
    <%= form_tag(admin_content_merge_with_path()) do %>
        <input type="hidden" name="id" value="<%= @article.id %>" />
       <input type="text" name="merge_with" />
     <input type="submit" value="Merge With This Article" />
    <% end %>
<% end %>
